/* header styles */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header .navbar-nav {
  margin-left: auto;
  margin-right: 5%;
}

.header .nav-link {
  color: white;
}

.header .nav-link:hover {
  color: greyy;
}

.header .navbar-brand {
  margin-right: auto;
  margin-left: 3%;
  color: white;
}

.header .navbar-brand:hover {
  color: greyy;
}

/* about styles */



/* portfolio styles */

.project-grid {
  display: grid;
  grid-template-columns: 1fr; /* The first project takes the full width */
  grid-gap: 20px; /* Adjust the gap between projects */
}

.big-project {
  grid-column: span 2; /* This makes the first project span two grid columns */
}

/* For screens larger than a certain size, make it a 2-column grid */
@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr 1fr; /* Two projects side by side */
  }
}

/* contact styles */



/* footer styles */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  width: 100%;
  position: relative;
}

.footer .navbar-nav {
  margin-right: auto;
  margin-left: 3%;
}

.footer .nav-link:hover {
  color: #209CEE;
}

.footer .navbar-text {
  margin-left: auto;
  margin-right: 5%;
}