body {
  background-color: rgb(29, 32, 47) !important;
}

h2 {
  margin: 20px !important;
  font-weight: bold !important;
  color: white !important;
}

p {
  color: white;
}

/* header styles */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #002000;
  border-bottom: 2px solid green;
}

.header .navbar-nav {
  margin-left: auto;
  margin-right: 5%;
}

.header .nav-link {
  color: green;
}

.header .nav-link:hover {
  color: white;
}

.header .navbar-brand {
  margin-right: auto;
  margin-left: 3%;
  color: green;
}

.header .navbar-brand:hover {
  color: white;
}

/* about styles */

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 35px;
}

.about-content a {
  text-decoration: none;
  font-weight: bold;
  color: green;
}

.about-content a:hover {
  color: white;
}

.about-content p {
  padding: 25px;
}

/* portfolio styles */

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.big-project {
  grid-column: span 2;
  border: none !important;
  box-shadow: none;
}

.small-project {
  border: none !important;
  box-shadow: none;
}

/* For screens larger than a certain size, make it a 2-column grid */
@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.big-project .card {
  width: 100%;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-body .card-title {
  font-weight: bold;
  font-size: 25px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

/* contact styles */

.content p {
  margin-bottom: 5px;
}

.message {
  margin-top: 5px;
}

.custom-button {
  margin-top: 5px;
  position: relative;
  left: 70%;
}

/* footer styles */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  width: 100%;
  position: relative;
  background-color: rgb(0, 32, 0);
  border-top: 2px solid green;
}

.footer .navbar-nav {
  margin-right: auto;
  margin-left: 3%;
}

.footer .nav-link {
  color: green;
}

.footer .nav-link:hover {
  color: white;
}

.footer .navbar-text {
  margin-left: auto;
  margin-right: 5%;
  color: green;
}